/*=======================
        General 
=======================*/
html,
body {
    font-family: "Open Sans", sans-serif;
		font-weight: 400;
	font-size: 18px;
}
p{
	font-size: 14px;	
	line-height: 1.5;
	margin: 0 0 20px;
	
}
h1, h2, h3, h4, h5, h6{
	
	color: #1f2a2e;
	font-weight: 900;
}
h3, h4, h5, h6{
	line-height: 1.3;
}
h1{
	font-size: 54px;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 36px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 16px;
}
h6{
	font-size: 14px;
}
 a:hover{
	 text-decoration: none;
 }
 a {
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	text-decoration: none;
}
:focus{
	outline: none;
}
img{
	max-width: 100%;
}
ul{
	padding: 0;
	margin: 0;
}
/*=======================
       Page Layout
=======================*/
.header-top{
	background-color: #ff749f;
	padding-bottom: 40px;
	padding-top:40px;
	position: relative;
	z-index: 1;
}
.container{
	max-width: 1260px;
	margin: 0 auto;
}
#header{
    max-width: 1920px;
    margin: 0 auto;
}
.clear{
	clear: both;
}
.search form input{
	width: 80%;
	padding: 8px;
	color: #333;
	border: none;
	background: #fff;
	outline: none;
	position: relative;
}

.search button{
	position: absolute;
    top: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    outline: none;
}
.menu{
	background-color: #ff749f;
	position: relative;

}
.menu ul{
	list-style: none;
	padding-top: 3px;
	position: relative;

}
.menu ul li{
	display: inline-block;
	padding-bottom: 15px;

	padding-left: 20px;
	line-height: 1;
}

.menu ul li a{
	color: #fff;
	font-size: 14px;
	padding-right: 20px;

	font-weight: 700;
	text-transform: uppercase;
	border-right: 1px solid rgba(255, 255, 255, 0.5);

} 
.menu ul li:nth-child(7) a{
    border: none;
}
.menu::after{
	width: 0;
    height: 0;
    border-right: 55px solid #ff749f;
    border-top: 57px solid transparent;
    border-bottom: 57px solid transparent;
    content: "";
    position: absolute;
    margin-left: -24px;
	top: -74px;
	left: -31px;
}
.menu::before{
	width: 0;
    height: 0;
    border-left: 55px solid #ff749f;
    border-bottom: 57px solid transparent;
    border-top: 57px solid transparent;
    content: "";
    position: absolute;
    margin-right: -24px;
    right: -31px;
	top: -20px;
    margin-top: -54px;
}
.mini-cart a {
    color: #ff749f;
    margin: 0px;
    line-height: 17px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
    display: block;
	height: 40px;
    background: #fff;
    border-right: 1px solid #f1f1f1;
    
    border-radius: 3px;
}
.mini-cart{
	position: relative;
}

.mini-cart a:before {
    content: '\f07a';
    font-family: 'Font Awesome 5 Pro';
  	font-weight: 900; 
    font-size: 16px;
    color: #ff749f;
    background: #fff;
    height: 40px;
    width: 45px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-right: 1px solid #f1f1f1;
    font-weight: normal;
    border-radius: 3px;
    margin-right: 4px;
	position: absolute;
}
.price{
	padding-bottom: 11px;
	padding-top: 12px;
    display: block;
    text-align: right;
    color: #222;
    font-weight: 700;
    z-index: 1;
	padding-right: 10px;
    position: relative;

}
.slide-show{
	padding-top: 20px;
	margin-bottom: 40px;
}
.inner-slide h3{
	text-transform: uppercase;
		font-size: 20px;
		font-weight: 400;
		border-bottom: 1px solid #ff749f;
		display: inline-block;
		padding-bottom: 15px;
		opacity: 0.7;
	margin-bottom: 20px;

}
.inner-slide h2{
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 20px;
}
.inner-slide p{
	
	font-size: 15px;
	font-weight: 400;
}
.inner-slide a{
	background: none;
	border: 1px solid #ff749f;
    font-size: 15px;
    font-weight: 600;
	color: #ff749f;
    padding: 5px 15px;
}
.inner-slide a:hover{
	background: none;
	color: #ff749f;

}
.slide-show .slick-slide{
	height: 500px;
    background-size: cover;
}
.inner-slide{
	padding-left: 50px;
	padding-top: 30px;
}
.products h2{
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	background: #84d8ea;
	padding: 15px 20px;
	display: inline-block;
	float: left;
	position: relative;
	margin-bottom: 20px;
}
.products h2::after{
	width: 0;
    height: 0;
    border-left: 22px solid #84d8ea;
    border-bottom: 22px solid transparent;
    border-top: 22px solid transparent;
    content: "";
    position: absolute;
    margin-right: -10px;
    right: -4px;
    margin-top: -34px;
	position:absolute ;
	top: 37px;
}
.products ul{
	list-style: none;
	float: right;
}
.products ul li{
	display: inline-block;
	padding: 5px 10px;
	background: #f2f2f2;
    border-radius: 15px;

}
.products a{
	color: #666;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 3px 15px;
    margin-top: 6px;
    text-transform: uppercase;
    margin-left: 3px;
   
}
.products ul li:hover{
	background: #abeefc;
	font-weight: 700;
}

.products a:hover{
	color: #fff;

}
.box{
	text-align: center;
	float: left;
	width: 20%;
	padding-left: 10px;
	padding-right: 10px;
    margin-top: 10px;
}
.inner-box{
	margin-left: -10px;
	margin-right: -10px;
}
.item-title {
	text-decoration: none;
    font-size: 14px;
    font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
    letter-spacing: 0.5px;
	display: block;
	color: #333;
	max-width: 200px;
	margin: 0 auto;
	padding-top: 10px;
	text-overflow: ellipsis;
}
.box p{
	padding-top: 10px;

}
.box p span{
	font-weight: 900;
	font-size: 14px;
}
.fa.fa-star{
	font-size: 10px;
	color: yellow;
}
.fa.fa-star.no{
	font-size: 10px;
	color: #bbb;
}
.box .btn-primary{
	background-color: #fff;
	color: #666;
	display: inline-block !important;
    font-size: 11px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    line-height: normal !important;
    padding: 8px 12px !important;
    text-transform: uppercase !important;
    border: 1px #d1d1d1 solid !important;
    border-radius: 0px !important;
    text-decoration: none
}
.box:hover .btn-primary{
	background-color: #ff749f;
	color: #fff;
}
.box img:hover{
	transform: scale(1.1);
	-webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
  
}
.img{
	overflow: hidden;
	position: relative;
}
.img img{
    margin: 0 auto;
}
.box:hover .item-title {
	color: #ff749f;
}
.inner-box{
	display: none;
}
#box1{
	display: block;
}
.best-seller {
	padding-top: 50px;
}
.best-seller h2{
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	background: #84d8ea;
	padding: 15px 20px;
	position: relative;
	margin-bottom: 20px;
	display: inline-block;
}
.best-seller h2::after{
	width: 0;
    height: 0;
    border-left: 22px solid #84d8ea;
    border-bottom: 22px solid transparent;
    border-top: 22px solid transparent;
    content: "";
    position: absolute;
    margin-right: -10px;
    right: -4px;
    margin-top: -34px;
	position:absolute ;
	top: 37px;
}
.box span.amount{
	color: #999;
    text-decoration: line-through;
    font-size: 13px;
    font-weight: normal;
	padding-right: 5px;

}
.sale{
	font-size: 10px;
    color: #fff;
    background: #ffc000;
    text-transform: uppercase;
    padding: 3px 10px;
    text-align: center;
    display: block;
    position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
}
.row.PRODUCTS{
	border: 1px solid #f1f1f1;
}
.block-title{
    font-size: 26px;
    font-weight: 600;
    line-height: 28px;
    padding: 25px;
    text-transform: uppercase;
    border-bottom: 1px rgba(255,255,255,0.5) solid;
    margin-bottom: 20px;
}
.block-title h2{
	margin: auto;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
	color: #fff;
    font-family: 'Open Sans', sans-serif;

}
.pretext{
	margin-top: 5px;
    color: #fff;
    float: right;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-transform: none;
    margin-left: 25px;
    margin-right: 25px;
    letter-spacing: 0.5px;
}
.home-block{
	background: #84d8ea;
	width: 100%;
}
.inner-slider3{
	padding: 0;
}
.pretext a{
	border: none;
    background: #fff;
    text-transform: uppercase;
    color: #666;
    padding: 8px 15px;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 3px;
}
.slick-

{
	margin-bottom: 0;
}
.best-seller .slick-prev.slick-arrow{
	position: absolute;
    top: -50px;
    background: none;
	left: auto;

    right: 55px;
	border: 1px solid #ddd;
	width: 30px;
  
	height: 30px;
}
.best-seller .slick-prev.slick-arrow:hover{
	background:#ff749f ;
}
.best-seller .slick-next.slick-arrow:hover{
	background:#ff749f ;
	
}
.best-seller .slick-next.slick-arrow{
	position: absolute;
    top: -50px;
    background: none;
    right: 20px;
	border: 1px solid #ddd;
	width: 30px;
	height: 30px;
}
.slick-prev:before, .slick-next:before{
	font-family: 'Font Awesome 5 Pro';
    content: "\f104";
	font-style: normal;
    font-weight: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    text-transform: none;
	color: #ddd;
}

.slick-next:before, .slick-next:before{
	font-family: 'Font Awesome 5 Pro';
    content: "\f105";
	font-style: normal;
    font-weight: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    text-transform: none;
	color: #ddd;

}
.slide-show .slick-prev.slick-arrow{
	position: absolute;
	top: 50%;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 40px;
    background: #333;
}
.slide-show .slick-next.slick-arrow{
	position: absolute;
	top: 50%;
    right: 0;
    z-index: 1;
    width: 30px;
    height: 40px;
    background: #333;
}
.FEATURED-PRODUCTS .slick-prev.slick-arrow{
	position: absolute;
    background: none;
    top: 80%;
    right: -60px;
    left: auto;
    z-index: 1;
}

.FEATURED-PRODUCTS .slick-next.slick-arrow{
	position: absolute;
    background: none;
    top: 80%;
    right: -100px;
    left: auto;
    z-index: 1;
}

.FEATURED-PRODUCTS .slick-prev:before{
	font-family: 'Font Awesome 5 Pro';
    content: "\f104";
    font-style: normal;
    font-weight: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    color: #fff;
	font-size: 30px;
}
.FEATURED-PRODUCTS .slick-next:before{
	font-family: 'Font Awesome 5 Pro';
    content: "\f105";
    font-style: normal;
    font-weight: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    color: #fff;
	font-size: 30px;
}
.FEATURED-PRODUCTS{
	margin-bottom: 30px;
}
.banner-inner{
	margin-bottom: 30px;
	
}
.image-hover{
	margin-bottom: 10px;
}
.image-hover a img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.blog-preview_info ul li{
	padding-right: 5px;
	display: inline-block;
    margin-right: 10px;
    color: #a7a7a7;
    text-transform: none;
    font-size: 13px;
}
.blog-preview_info ul li a{
	padding-right: 5px;
	display: inline-block;
    margin-right: 10px;
    color: #a7a7a7;
    text-transform: none;
    font-size: 13px;
}
.blog-preview_info ul{
	list-style:none;
    padding: 0 0px 8px;
}
.blog-preview_info ul li i{
	padding-right: 10px;
}
.blog-preview_info h4 a{
	font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.3em;
    margin: auto;
    padding-bottom: 6px;
    letter-spacing: 1px;
    color: #000;
}
.blog-preview_desc p{
	color: #666;
    font-size: 14px;
    height: 45px;
    letter-spacing: 0.5px;
    line-height: 22px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 15px;
}
.blog-preview_desc a{
	font-size: 11px;
    margin: 0px;
    padding: 8px 15px;
    background: #fff;
    color: #666;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    border: 1px #ddd solid;
    text-transform: uppercase;
	margin-bottom: 30px;
}
.blog-preview_desc a:hover{
	background: #ff749f;
	color: #fff;
}
.image-hover a{
	position: relative;
	display: table;
}
.image-hover a:before{
	content: "\f002";
    position: absolute;
    top: 42%;
    left: 50%;
    z-index: 2;
    color: #fff;
    ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #ff749f;
    padding: 8px 12px;
    ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
	font-family: 'Font Awesome 5 Pro';
    transition: opacity 0.3s ease 0s;
}
.image-hover a:hover::before{
	opacity: 1;
}
.image-hover a::after{
	overflow: hidden;
    position: absolute;
    top: 0;
	font-family: 'Font Awesome 5 Pro';
    content: "";
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
	z-index: 1;
}
.image-hover a:hover::after{
    transform: scale(1);
	-webkit-transform: scale(1);
    -ms-transform: scale(1);
	opacity: 1;

}
#footer{
	padding: 0px 0 0;
    overflow: hidden;
    color: #aaa;
    padding-top: 40px;
    background-color: #000;
	max-width: 1920px;
	margin: 0 auto;
}
.footer-colum{
    float: left;
    width: 33.33%;
}
.footer-colum ul{
    list-style: none;
}
.footer-colum ul li{
    padding: 6px 0;
    line-height: 20px;
}
.footer-colum ul li a{
    color: #aaa;
    font-size: 14px;
}
.footer-colum ul li a::before{
    content: "\f105";
	font-family: 'Font Awesome 5 Pro';

    font-size: 11px;
    display: inline-block!important;
    cursor: pointer;
    line-height: 20px;
    margin-right: 5px;
}
.footer-colum ul li a:hover{
    color: #ff749f;
}
.footer-colum h4{
    padding: 0 0 10px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.subscribe h4{
    padding: 0 0 10px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.subscribe input{
    font-size: 13px;
    height: 40px !important;
    line-height: 22px;
    margin: 8px 0 0;
    padding-left: 10px;
    position: relative;
    top: auto;
    width: 70%;
    right: auto;
    text-transform: none;
    font-weight: normal;
}
.subscribe button{
    background: #ff749f;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 12px;
    font-weight: 700;
    overflow: hidden;
    padding: 11px 20px;
    text-transform: uppercase;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    border-radius: 3px;
}
.social{
    padding-top: 20px;
}
.social h4{
    padding: 0 0 10px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.social ul{
    list-style: none;
    
}
.social ul li{  
    margin-right: 10px;
    display: inline-block;
}
.social ul li a{
    font-size: 18px;
    display: inline-block;
    text-align: center;
    padding: 0;
    border-radius: 20px;
    color: #aaa;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px #aaa solid;

    transition: background 400ms ease-in-out;
    -webkit-transition: background 400ms ease-in-out;
}
.social ul li a:hover{
    border: 1px solid #000;
    color: #fff;

}
.fb a:hover{
    background-color: #3C5B9B ;

}
.tw a:hover{
    background: #359BED ;
}
.googleplus a:hover{
    background: #E33729;
}
.rss a:hover:hover{
    background-color: #FD9F13 !important;
}
.pintrest a:hover{
    background-color: #cb2027 !important;
}
.linkedin a:hover{
    background-color: #027ba5 !important;
}
.youtube a:hover{
    background-color: #F03434 !important;
}
.textwidget{
    padding-top: 20px;
}
.textwidget img{
    opacity: 0.75;
    margin-right: 10px;
}
.footer-middle{
    margin-top: 50px;
    margin-bottom: 20px;
}
.text-center address{
    margin: auto;
    font-style: normal;
    line-height: 21px;
    color: #999;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    width: 100%;
}
.text-center .fa{
       width: 30px!important;
    line-height: 20px!important;
    display: inline-block!important;
    height: 20px!important;
    margin-left: 20px!important;
    border-radius: 25px;
    margin-right: 5px!important;
    vertical-align: top;
}
.feature-box{
    overflow: hidden;
    font-size: 13px;
    text-align: center;
    color: #333;
    line-height: 1.4em;
    font-weight: normal;
    text-transform: uppercase;
    padding: 12px 20px 15px;
    background: #ff749f;
    border-radius: 3px;
    margin: 15px 0;
}
.feature-box span{
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;
    text-transform: none;
    margin-right: 6px;
    color: #fff;
}
.content{
    display: inline-block;
    text-align: left;
    text-transform: none;
    color: #fff;
}
.content h3{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 3px;
    margin-top: 5px;
    color: #fff;
    text-transform: uppercase;
}
.our-features-box{
    padding: 5px 0 15px;
}
.textwidget img:hover{
    opacity: 1;
}
.coppyright{
    float: left;
}
.coppyright p{
    color: #666;
    font-size: 14px;
    padding: 15px 0;
    margin: 0;
}
.company-links{
    float: right;
    line-height: 1;
}
.company-links ul{
    padding: 15px 0;
    list-style: none;
}
.company-links ul li{
    display: inline-block;
    padding-left: 10px;
   
}
.company-links ul li a{
    color: #666;
    font-size: 14px;
}
.bottom-footer{
    background: #333;
    overflow: hidden;
}
.company-links ul li a:hover{
    color: #ff749f;
}
.sub-menu{
	position: relative;
}
.sub-home{
    display: none;
    z-index: 999;
    top: 100%;
    position: absolute;
    background: #fff;
    left: 0;
    padding-right: 40px;
    border-top: 3px #ff749f solid;

    padding-left: 25px;
}

/* .menu li::after{
    height: 20px;
    content:"";
    position: absolute;
    width: 100%;
    left: 0;
    top: 20px;
} */
.sub-home ul li{
    display: block;
    border: none;
    width: 110px;
    padding: 10px 0;
}
.sub-home ul li a{
    background-color: #fff;
    color: #333;
    font-size: 13px;
    transition: all 0.5s ease 0s;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-weight: 300;
    padding: 0;
}
.sub-home ul li a:hover{
    color: #ff749f;
}
.menu ul li:hover .sub-home{
    display: block;
}
.colum-Clothing{
    display: none;
    z-index: 999;
    top: 100%;
    position: absolute;
    background: #fff;
    left: 0;
    width: 100%;
    border-top: 2px #ff749f solid;
}
.inner-Clothing{
   float: left;
   width: 16.6666%; 

}

.inner-Clothing h4 a{
    color: #000 !important;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 18px;
    text-transform: uppercase;
    padding-bottom: 2px;
   padding-left: 20px;
   padding-top: 20px;
   display: block;
   position: relative;
   padding-bottom: 10px;
}
.inner-Clothing ul li{
    display:block;
    border: none;
    padding: 10px 0;
    
}
.inner-Clothing ul li a{
    color: #222;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 18px;
    text-transform: capitalize;
    padding-right: 0;
    padding-bottom: 2px;
   padding-left: 20px;
}
.inner-Clothing h4 a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 30px;
    height: 2px;
    background: #ff749f;
}
.inner-Clothing ul li a:hover{
    color: #ff749f;
}
.menu ul li:hover .colum-Clothing{
    display: block;

}
.top-cart-content{
    display: none;
    position: absolute;
    top: 40px;
    right: 0px;
    background: #fff;
    padding: 0;
    text-align: right;
    z-index: 100;
    box-shadow: 0 0 15px -7px #666;
    min-width: 320px;
    z-index: 1000;
}
.top-cart-content p{
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
}
.top-cart-content p::before{
    content: '\f07a';
	font-family: 'Font Awesome 5 Pro';
    font-size: 36px;
    color: #ccc;
    width: 100%;
    display: block;
}
.mini-cart:hover .top-cart-content{
    display: block;
}
.img-menu img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.img-menu{
    width: 32%;
}
.inner-Products{
    left: auto;
}
.is-sticky-opening{
    position: fixed;
    z-index: 990;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background: #ff749f;
    padding: 10px 0 0;
    z-index: 999;
}
.is-sticky-opening .header-top{
    display: none;
}
.img-sub{
    margin-bottom:15px;
    padding-left: 15px;
    padding-right: 15px;
}
.click-mobile{
    z-index: 9999;
    position: absolute;
    bottom: 15px;
    right: 40px;
    display: none;
}
.click-mobile span{
    width: 20px;
    height: 3px;
    color: #fff;
    display: block;
    background: #fff;
    margin-bottom: 5px;
}
